.wrappper {
  text-align: center;
  min-height: 100vh;
  user-select: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-row {
  flex-direction: row;
}

.icon {
  color: tomato;
  margin: 20px;
}

#app-icon {
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

.controller {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 40px;
}

#clock {
  font-size: 2em;
  font-weight: bold;
  padding: 10px 40px;
  border: 5px solid tomato;
  border-radius: 8px;
}